#pragma once
/// Here you can add whatever includes are needed

/// Components are POD, so only types that you can include should
/// be simple variables or other structs containing simple variables.
struct [[COMPONENT_NAME]] {
    /// Add you values here:
    /// bool value = false;
};
//NLOHMANN_DEFINE_TYPE_NON_INTRUSIVE(TestTag, /* variables */)
/// If you have variables, for serialization (saving the world),
/// you need to include NLOHMANN_DEFINE_TYPE_NON_INTRUSIVE with
/// all variables as parameters