#pragma once

#include <Engine.h>

class [[SYSTEM_NAME]] final : public SystemBase</* Components */> {
public:
    [[SYSTEM_NAME]]();

    /// Only uncomment and override if not using update and need access to world
    //void Run(World *world, float deltaTime) override;

    /// Called for each gameobject with these components every frame
    void Update(float deltaTime, /* Arguments */) override;
};