#include "[[HEADER_PATH]]/[[SYSTEM_NAME]].h"

[[SYSTEM_NAME]]::[[SYSTEM_NAME]]() {
    role = SystemRole::Game;
}

//void [[SYSTEM_NAME]]::Run(World *world, float deltaTime) {}

void [[SYSTEM_NAME]]::Update(const float deltaTime, /* Arguments */) {

}